# Core:
numpy==1.11.0
pyopencl==2017.1.1
py-flags==1.1.2

# Image export:
Pillow==6.2.2

# STL export:
Cython==0.24 # Needed for PyMCubes :-/
PyMCubes==0.0.6
numpy-stl==1.8.0

# Tests:
pytest==3.1.1
trimesh==2.13.12
